body {
  background-color: #ff608c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: absolute;
  padding-top: 20px;
  top:0;
  left:15px;
  z-index: 2;
}

.header img {
  width: 260px;
  height: auto;
}
img {
  vertical-align: middle;
  border:0;
}

.fullpage-wrapper {
  height: 100%;
  position: relative;
}

section {
  height: 600px;
}